# Node.js
node_modules
package-lock.json
backend/node_modules
frontend/node_modules
.env

# Angular
angular.json
yarn.lock

# Python
__pycache__

# Docker
docker-compose.yml
docker-compose.override.yml

# GitHub Actions
.github/workflows